@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#home {
  font-family: "Roboto", sans-serif;

  h1,
  h2,
  h3,
  h4,
  p,
  del {
    margin: 5px 0;
    color: #22262a;
  }

  p {
    margin: 5px 0;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #22262a;
  }

  img {
    width: 100%;
  }
}
// Utilities
.btn-dark {
  background: #22262a;
  color: white !important ;
  font-size: 15px;
  padding: 7px;
  font-weight: 50;
  margin: 0 10px;
  border-radius: 2px;
}

.btn-light {
  background: white;
  color: #22262a !important ;
  font-size: 15px;
  padding: 7px;
  font-weight: 50;
  margin: 0 10px;
}

// default padding
.pad {
  padding: 15px;
}

// Header styles
.head {
  // Navbar style
  .navbar {
    display: flex;
    // width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 60px;

    h3 {
      font-size: 35px;
      margin: auto;
    }

    ul {
      display: flex;
      width: 25%;
      align-items: center;
      position: absolute;
      left: 500px;
      top: 20px;

      li {
        margin: 0 10px;
      }
    }

    a:hover {
      // border-bottom: #22262a solid 1px;
      opacity: 0.7;
    }
  }

  // container with bg img
  .container-1 {
    background: url(../img/Header.png) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
  }
  // title styles
  .title {
    text-align: left;
    position: absolute;
    left: 750px;
    top: 300px;
    font-size: 25px;

    h3 {
      font-weight: 100;
      font-size: 18px;
    }

    h1 {
      font-size: 70px;
      padding: 5px 0;
    }
    p {
      font-size: 15px;
      font-weight: 100;
      margin-bottom: 15px !important;
    }

    a:hover {
      opacity: 0.7;
    }
  }
}

// sectionpictures styles

.sectionpictures {
  width: 100%;
  height: 100vh;
  display: grid;
  margin-top: 90px;
  grid-template-areas:
    "img1 img4"
    "img23 img4";
  align-items: center;
  justify-content: center;
  .img1 {
    width: 100% !important;
  }
  .img23 {
    display: flex;
  }
  .image {
    padding: 10px;
  }
}

// womensfashion styles
.womensfashion {
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 100px;
  .womentitle {
    padding: 30px 0;
  }

  .womenspictures {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    h4 {
      font-weight: 100;
    }
    .h2 {
      font-weight: 100 !important;
    }
    .part1,
    .part2,
    .part3,
    .part4 {
      margin: 0 10px;

      .h3,
      .h4 {
        margin: 40px 0;
      }
    }
  }
}

// mensfashion styles
.mensfashion {
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 100px;
  .mentitle {
    padding: 30px 0;
  }

  .menspictures {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    h4 {
      font-weight: 100;
    }
    .h2 {
      font-weight: 100 !important;
    }
    .part1,
    .part2,
    .part3,
    .part4 {
      margin: 0 10px;

      .h3,
      .h4 {
        margin: 40px 0;
      }
    }
  }
}

// avonestyles styles
.avonestyles {
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 100px;
  .avonetitle {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 30px 0;
  }

  .pics3 {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      padding: 20px;
    }

    .rightelements {
      display: flex;
      flex-direction: column;
      .img16 {
        position: absolute;
        width: 20% !important;
        // z-index: 1;
        right: 20px;
        margin-top: 250px;
        padding: 0;
        border: white 20px solid;
      }

      .btn-dark {
        width: 50%;
      }
    }
  }
}

// bannersection
.bannersection {
  width: 100%;
  align-items: center;
  text-align: left;

  margin-top: 250px;
  height: 100vh;
  width: 100%;
  background: url(../img/17.png) no-repeat center center/cover;

  .container-3 {
    font-size: 30px;
    line-height: 2em;
    width: 50%;
    position: absolute;
    margin-top: 300px;
    left: 100px;

    h1 {
      letter-spacing: 10px;
    }

    h3,
    p {
      font-weight: 100;
    }
  }

  a:hover {
    opacity: 0.7;
  }
}

// footer styles
.footer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  margin-top: 30px;
  .footerleft {
    margin-left: 90px;
    width: 50%;

    .footeraddress {
      margin: 20px;
    }
    .container-4 {
      width: 100%;
      margin: 20px;

      .logo {
        font-size: 30px;
        padding: 10px 0;
      }
      p {
        width: 60%;
      }
    }
  }
  .footerright {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;

    .store_elements {
      display: flex;
      align-items: center;

      .shopsection {
        padding-right: 60px;
      }
      .helpsection {
        padding-right: 60px;
      }
      .aboutsection {
        padding-right: 60px;
      }
    }

    .input {
      padding: 10px;
      width: 90%;
      border: #ccc 1px solid;
      outline: none;
    }

    .submit {
      border: none;
      color: rgb(83, 83, 83);
      font-weight: 400;
      font-size: 15px;
      background: white;
      outline: none;
      cursor: pointer;
    }

    li {
      padding: 5px 5px 5px 0px;

      a:hover {
        opacity: 0.7;
      }
    }
  }
}

// .copyright styles
.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  // font-weight: 100;
}

// tablets and ipad query
@media only screen and (max-width: 768px) {
  .head {
    .navbar {
      ul {
        left: 250px;
      }
    }
    .title {
      left: 350px;
      top: 600px;
      text-align: center;
    }
  }

  .sectionpictures {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .womensfashion {
    height: 50vh;
  }

  .mensfashion {
    height: 50vh;
  }
  .avonestyles {
    height: 50vh;
  }

  .bannersection {
    margin-top: 100px;
    height: 50vh;
    .container-3 {
      margin-top: 200px;
      font-size: 20px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 65vh;
    .footerleft {
      .container-4 {
        align-items: center;
        text-align: center;
        p {
          width: 100%;
          text-align: center;
        }
      }

      .footeraddress {
        text-align: center;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footerright {
      .email_input {
        text-align: center;
      }
    }
  }
}

// mobile query
@media only screen and (max-width: 500px) {
  #home {
    font-size: 80%;
  }
  .head {
    .navbar {
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        display: none;
        left: 10px;
        top: 35px;
        width: 100%;
      }
      .logo {
        font-size: 20px;
      }
    }
    .container-1 {
      height: 60vh;
    }

    .title {
      width: auto;
      left: 8px;
      top: 100px;

      h3 {
        font-size: 70%;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .sectionpictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    .leftpictures {
      display: flex;
      flex-direction: column;

      .img23 {
        width: 50%;
      }
    }
  }

  .womensfashion,
  .mensfashion {
    font-size: 10.5px;
  }
  .womensfashion {
    margin-top: 50px;
    .womenspictures {
      .part3,
      .part4 {
        display: none;
      }
    }
  }

  .mensfashion {
    margin-top: 130px;
    .menspictures {
      .part3,
      .part4 {
        display: none;
      }
    }
  }

  .avonestyles {
    display: none;
  }

  .bannersection {
    .container-3 {
      margin-top: 60px;
      align-items: center;
      justify-content: center;
      text-align: center;
      .title {
        height: 30vh;
        font-size: 15px;
        line-height: 2em;
        width: 100%;
        margin-top: auto;

        h3 {
          font-weight: 400;
        }

        h1 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-weight: 500;
        }
        .btn-dark {
          display: none;
        }
      }
    }
  }

  .footer {
    height: 100%;
  }
}

// iphone 5s/SE query
@media only screen and (max-width: 320px) {
  #home {
    font-size: 50%;
  }
  .head {
    .navbar {
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        display: none;
        left: 10px;
        top: 35px;
        width: 100%;
      }
      .logo {
        font-size: 20px;
      }
    }
    .container-1 {
      height: 60vh;
    }

    .title {
      width: auto;
      left: 8px;
      top: 100px;

      h3 {
        font-size: 70%;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .sectionpictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13px 0 13px;
    .leftpictures {
      display: flex;
      flex-direction: column;

      .img23 {
        width: 50%;
      }
    }
  }

  .womensfashion,
  .mensfashion {
    font-size: 10.5px;
  }
  .womensfashion {
    margin-top: 50px;
    padding: 0 13px 0 13px;
    .womenspictures {
      .part3,
      .part4 {
        display: none;
      }
    }
  }

  .mensfashion {
    margin-top: 130px;
    padding: 0 13px 0 13px;
    .menspictures {
      .part3,
      .part4 {
        display: none;
      }
    }
  }

  .avonestyles {
    display: none;
  }

  .bannersection {
    .container-3 {
      margin-top: 60px;
      align-items: center;
      justify-content: center;
      text-align: center;
      .title {
        height: 30vh;
        font-size: 15px;
        line-height: 2em;
        width: 100%;
        margin-top: auto;

        h3 {
          font-weight: 400;
        }

        h1 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-weight: 500;
        }
        .btn-dark {
          display: none;
        }
      }
    }
  }
  .footer {
    height: 100%;
    .footerleft {
      margin: auto;

      .container-4 p {
        width: 90%;
        padding-left: 30px;
        text-align: center;
        font-size: 15px;
      }

      .footeraddress {
        font-size: 15px;
      }
    }

    .footerright {
      width: 100%;
      align-items: center;
      justify-content: center;

      .store_elements {
        padding: 0;
        .shopsection {
          padding: 0;
          font-size: 150%;
          padding-right: 15px;
          padding-left: 20px;
        }
        .helpsection {
          padding: 0;
          font-size: 150%;
          padding-right: 15px;
        }
        .aboutsection {
          padding: 0;
          font-size: 150%;
          padding-right: 15px;
        }
      }
    }
  }
}
